{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3>Portfolio</h3>

    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for row in transactions_db %}
                <tr scope="row">
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.total | usd }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="1">Cash:</td>
                    <th scope="1">{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="1">Investments:</td>
                    <th scope="1">{{ investment_total | usd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="1">Total ammount:</td>
                    <th scope="1">{{ grand_total | usd }}</td>
                </tr>
            </tfoot>
    </table>

{% endblock %}
